.reviewsContainer {
  margin: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.reviewsTitle {
  font-size: 24px;
  margin-bottom: 10px;
}

.reviewList {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 2px;
  padding: 0;
  margin: 0;
  display: grid;
}

.reviewItem {
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  margin-top: 10px;
  font-size: 12px;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reviewAuthor {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 14px;
}

.reviewContent {
  font-size: 14px;
  font-style: italic;
}

.backButton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  background-color: beige;
  color: #332929;
  border-radius: 4px;
  transition: background-color 0.2s;
}