.movieDetailsContainer {
  max-width: 800px;
  margin: 0 auto;
  margin-left: 15px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px red;
}


.backButton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  background-color: beige;
  color: #332929;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.movieTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.movieOverview {
  margin-top: 20px;
}

.sectionTitle {
  font-size: 20px;
  margin-top: 20px;
}

.poster {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.genre {
  margin-right: 10px;

  display: inline;
  color: #555;
}

.genres ::before {
  content: "•";
  margin-right: 5px;
}

.genresList {
  list-style: none;
  padding: 0;
}

.genresItem {
  margin: 0.2rem 0;
  font-size: 1rem;
  color: #555;
}

.navigationLinks {
  margin-top: 30px;
  overflow: hidden;
}

.linkC {
  color: rgb(205 148 163);
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px;
}

.linkR {
  color: rgb(62 161 171);
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px;
}

.linkR:hover {
  text-decoration: underline;
}