a {
  text-decoration: none;
}

.home-container {
  padding: 20px;
  text-align: center;
}

.trending-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #121213;
  font-weight: bold;
}

.movie-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-item {
  margin: 10px;
  text-align: center;
}

.movie-poster {
  max-width: 200px;
  border-radius: 8px;
}

.movie-title {
  margin-top: 8px;
  font-size: 16px;
  color: #0c0d0e;
  font-weight: bold;
}